In [96]:
#basic imports
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt

In [167]:
#import data
rawData = pd.read_csv('default of credit card clients.csv', header=1)
rawData.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [168]:
classData = rawData

In [169]:
#remove unnecessary and problematic columns
classData = classData.drop(['SEX', 'ID'], axis = 1)

In [12]:
classData.head()

,LIMIT_BAL,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,1,24,2,2,-1,-1,-2,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,26,-1,2,0,0,0,2,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,34,0,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,1,37,0,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,2,1,57,-1,0,-1,0,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [27]:
#check correlation nothing seems too correlatated with default payments
corrMat = classData.corr()
print(corrMat)

                            LIMIT_BAL  EDUCATION  MARRIAGE       AGE  \
LIMIT_BAL                    1.000000  -0.214242 -0.100365  0.136641
EDUCATION                   -0.214242   1.000000 -0.153417  0.186790
MARRIAGE                    -0.100365  -0.153417  1.000000 -0.409522
AGE                          0.136641   0.186790 -0.409522  1.000000
PAY_0                       -0.283431   0.116067  0.019692 -0.038768
PAY_2                       -0.301738   0.117511  0.018131 -0.043549
PAY_3                       -0.293503   0.105854  0.022869 -0.047529
PAY_4                       -0.283686   0.100287  0.024909 -0.045151
PAY_5                       -0.273011   0.092229  0.027627 -0.050851
PAY_6                       -0.272992   0.083455  0.031393 -0.052660
BILL_AMT1                    0.325646   0.012893 -0.029640  0.065797
BILL_AMT2                    0.317970   0.007533 -0.028697  0.064712
BILL_AMT3                    0.323379   0.001834 -0.032299  0.063920
BILL_AMT4                    0.334713  -0.011991 -0.030286  0.061654
BILL_AMT5                    0.336608  -0.018461 -0.031809  0.058591
BILL_AMT6                    0.333595  -0.018364 -0.028247  0.057755
PAY_AMT1                     0.211737  -0.048204 -0.009623  0.029640
PAY_AMT2                     0.190760  -0.035851 -0.008872  0.025074
PAY_AMT3                     0.224890  -0.044187 -0.005430  0.032851
PAY_AMT4                     0.218378  -0.043960 -0.014321  0.023561
PAY_AMT5                     0.238864  -0.048495 -0.003539  0.027079
PAY_AMT6                     0.242471  -0.043405 -0.009559  0.026764
default payment next month  -0.177379   0.034120 -0.024309  0.006936

                               PAY_0     PAY_2     PAY_3     PAY_4     PAY_5  \
LIMIT_BAL                  -0.283431 -0.301738 -0.293503 -0.283686 -0.273011
EDUCATION                   0.116067  0.117511  0.105854  0.100287  0.092229
MARRIAGE                    0.019692  0.018131  0.022869  0.024909  0.027627
AGE                        -0.038768 -0.043549 -0.047529 -0.045151 -0.050851
PAY_0                       1.000000  0.733455  0.625079  0.589935  0.563559
PAY_2                       0.733455  1.000000  0.753692  0.649771  0.612530
PAY_3                       0.625079  0.753692  1.000000  0.760741  0.670281
PAY_4                       0.589935  0.649771  0.760741  1.000000  0.799593
PAY_5                       0.563559  0.612530  0.670281  0.799593  1.000000
PAY_6                       0.534277  0.564463  0.616421  0.688463  0.783549
BILL_AMT1                   0.175932  0.184168  0.152820  0.138463  0.140294
BILL_AMT2                   0.178928  0.185481  0.177771  0.155648  0.153831
BILL_AMT3                   0.168020  0.174486  0.168353  0.170959  0.163933
BILL_AMT4                   0.167898  0.173389  0.168329  0.172041  0.187747
BILL_AMT5                   0.170046  0.173983  0.168221  0.170426  0.186498
BILL_AMT6                   0.165603  0.171281  0.163914  0.165488  0.177064
PAY_AMT1                   -0.095454 -0.119823 -0.034790 -0.050277 -0.050040
PAY_AMT2                   -0.085214 -0.089161 -0.101609 -0.035946 -0.041050
PAY_AMT3                   -0.086652 -0.090376 -0.093440 -0.118626 -0.036808
PAY_AMT4                   -0.083044 -0.083295 -0.087254 -0.093990 -0.121523
PAY_AMT5                   -0.082635 -0.081890 -0.087301 -0.094195 -0.103972
PAY_AMT6                   -0.075486 -0.070398 -0.072230 -0.069686 -0.069000
default payment next month  0.360506  0.315351  0.288306  0.273908  0.267875

                               PAY_6  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  \
LIMIT_BAL                  -0.272992  ...   0.334713   0.336608   0.333595
EDUCATION                   0.083455  ...  -0.011991  -0.018461  -0.018364
MARRIAGE                    0.031393  ...  -0.030286  -0.031809  -0.028247
AGE                        -0.052660  ...   0.061654   0.058591   0.057755
PAY_0                       0.534277  ...   0.167898   0.170046   0.165603
PAY_2                       0.564463  ...   0.173389   0.173983   0.171281
PAY_3                       0.616421  ...   0.168329   0.168221   0.163914
PAY_4                       0.688463  ...   0.172041   0.170426   0.165488
PAY_5                       0.783549  ...   0.187747   0.186498   0.177064
PAY_6                       1.000000  ...   0.169017   0.191414   0.183520
BILL_AMT1                   0.130295  ...   0.868639   0.840554   0.816219
BILL_AMT2                   0.142711  ...   0.897618   0.867045   0.841793
BILL_AMT3                   0.150118  ...   0.926175   0.887373   0.860296
BILL_AMT4                   0.169017  ...   1.000000   0.940748   0.904483
BILL_AMT5                   0.191414  ...   0.940748   1.000000   0.949598
BILL_AMT6                   0.183520  ...   0.904483   0.949598   1.000000
PAY_AMT1                   -0.050308  ...   0.224329   0.210455   0.195641
PAY_AMT2                   -0.048114  ...   0.198222   0.171628   0.165615
PAY_AMT3                   -0.047415  ...   0.286344   0.242630   0.226004
PAY_AMT4                   -0.041068  ...   0.110501   0.276194   0.239076
PAY_AMT5                   -0.134666  ...   0.134563   0.112924   0.285686
PAY_AMT6                   -0.078784  ...   0.172440   0.159882   0.122673
default payment next month  0.255903  ...  -0.006310  -0.002509  -0.002679

                            PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  \
LIMIT_BAL                   0.211737  0.190760  0.224890  0.218378  0.238864
EDUCATION                  -0.048204 -0.035851 -0.044187 -0.043960 -0.048495
MARRIAGE                   -0.009623 -0.008872 -0.005430 -0.014321 -0.003539
AGE                         0.029640  0.025074  0.032851  0.023561  0.027079
PAY_0                      -0.095454 -0.085214 -0.086652 -0.083044 -0.082635
PAY_2                      -0.119823 -0.089161 -0.090376 -0.083295 -0.081890
PAY_3                      -0.034790 -0.101609 -0.093440 -0.087254 -0.087301
PAY_4                      -0.050277 -0.035946 -0.118626 -0.093990 -0.094195
PAY_5                      -0.050040 -0.041050 -0.036808 -0.121523 -0.103972
PAY_6                      -0.050308 -0.048114 -0.047415 -0.041068 -0.134666
BILL_AMT1                   0.127088  0.084816  0.145175  0.146243  0.148430
BILL_AMT2                   0.264604  0.087445  0.136872  0.132704  0.136493
BILL_AMT3                   0.233789  0.307194  0.114063  0.126742  0.157617
BILL_AMT4                   0.224329  0.198222  0.286344  0.110501  0.134563
BILL_AMT5                   0.210455  0.171628  0.242630  0.276194  0.112924
BILL_AMT6                   0.195641  0.165615  0.226004  0.239076  0.285686
PAY_AMT1                    1.000000  0.287974  0.254521  0.201376  0.145830
PAY_AMT2                    0.287974  1.000000  0.243856  0.177090  0.178017
PAY_AMT3                    0.254521  0.243856  1.000000  0.212359  0.153659
PAY_AMT4                    0.201376  0.177090  0.212359  1.000000  0.144134
PAY_AMT5                    0.145830  0.178017  0.153659  0.144134  1.000000
PAY_AMT6                    0.190484  0.163790  0.162697  0.157093  0.160577
default payment next month -0.073643 -0.058531 -0.057852 -0.058486 -0.058970

                            PAY_AMT6  default payment next month
LIMIT_BAL                   0.242471                   -0.177379
EDUCATION                  -0.043405                    0.034120
MARRIAGE                   -0.009559                   -0.024309
AGE                         0.026764                    0.006936
PAY_0                      -0.075486                    0.360506
PAY_2                      -0.070398                    0.315351
PAY_3                      -0.072230                    0.288306
PAY_4                      -0.069686                    0.273908
PAY_5                      -0.069000                    0.267875
PAY_6                      -0.078784                    0.255903
BILL_AMT1                   0.171261                   -0.014773
BILL_AMT2                   0.165065                   -0.009640
BILL_AMT3                   0.177419                   -0.010142
BILL_AMT4                   0.172440                   -0.006310
BILL_AMT5                   0.159882                   -0.002509
BILL_AMT6                   0.122673                   -0.002679
PAY_AMT1                    0.190484                   -0.073643
PAY_AMT2                    0.163790                   -0.058531
PAY_AMT3                    0.162697                   -0.057852
PAY_AMT4                    0.157093                   -0.058486
PAY_AMT5                    0.160577                   -0.058970
PAY_AMT6                    1.000000                   -0.055334
default payment next month -0.055334                    1.000000

[23 rows x 23 columns]

In [18]:
#remove negative balances on bill amount 6
classData = classData[classData['BILL_AMT6'] > 0]

In [19]:
classData.describe()

,LIMIT_BAL,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
count,25292.000000,25292.000000,25292.000000,25292.000000,25292.000000,25292.000000,25292.000000,25292.000000,25292.000000,25292.000000,...,25292.000000,25292.000000,25292.000000,25292.000000,2.529200e+04,25292.000000,25292.000000,25292.000000,25292.000000,25292.000000
mean,166495.321841,1.860707,1.554919,35.437451,0.041673,0.001502,-0.011861,-0.040606,-0.064526,-0.049225,...,50051.473035,47117.765262,46191.209197,6164.524909,6.525137e+03,5831.080895,5465.723312,5664.892535,5622.830342,0.219437
std,130933.986410,0.775812,0.521899,9.244178,1.100754,1.152929,1.141183,1.106830,1.057493,1.044646,...,67258.039587,63520.918576,62103.183037,17354.446878,2.459681e+04,18713.201126,16648.933092,16452.751654,17782.884481,0.413873
min,10000.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,7172.750000,6788.000000,6634.500000,1300.000000,1.261000e+03,1000.000000,700.000000,886.000000,663.750000,0.000000
50%,140000.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25224.000000,23306.000000,22635.000000,2500.000000,2.465500e+03,2000.000000,2000.000000,2000.000000,2000.000000,0.000000
75%,240000.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,66017.750000,60851.000000,59188.250000,5514.500000,5.311250e+03,5000.000000,5000.000000,5000.000000,4800.000000,0.000000
max,1000000.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [25]:
covMat = classData.cov()
print(covMat)

                               LIMIT_BAL     EDUCATION     MARRIAGE  \
LIMIT_BAL                   1.714371e+10 -21762.733824 -6858.335457
EDUCATION                  -2.176273e+04      0.601885    -0.062118
MARRIAGE                   -6.858335e+03     -0.062118     0.272378
AGE                         1.653866e+05      1.339612    -1.975747
PAY_0                      -4.084987e+04      0.099119     0.011313
PAY_2                      -4.554960e+04      0.105108     0.010910
PAY_3                      -4.385518e+04      0.093718     0.013620
PAY_4                      -4.111223e+04      0.086115     0.014389
PAY_5                      -3.780158e+04      0.075666     0.015248
PAY_6                      -3.733982e+04      0.067636     0.017116
BILL_AMT1                   3.269237e+09    766.908430 -1186.080666
BILL_AMT2                   3.087981e+09    433.444141 -1110.856912
BILL_AMT3                   3.063031e+09    102.930967 -1219.427086
BILL_AMT4                   2.947607e+09   -625.689395 -1063.086357
BILL_AMT5                   2.799585e+09   -909.769364 -1054.505771
BILL_AMT6                   2.712597e+09   -884.808272  -915.520069
PAY_AMT1                    4.811277e+08   -649.012564   -87.158123
PAY_AMT2                    6.143541e+08   -684.123114  -113.891877
PAY_AMT3                    5.510240e+08   -641.500771   -53.033939
PAY_AMT4                    4.760455e+08   -567.806918  -124.434015
PAY_AMT5                    5.145659e+08   -619.006627   -30.391038
PAY_AMT6                    5.645665e+08   -598.827872   -88.713449
default payment next month -9.612169e+03      0.010956    -0.005251

                                      AGE         PAY_0         PAY_2  \
LIMIT_BAL                   165386.640273 -40849.870279 -45549.595596
EDUCATION                        1.339612      0.099119      0.105108
MARRIAGE                        -1.975747      0.011313      0.010910
AGE                             85.454828     -0.394491     -0.464142
PAY_0                           -0.394491      1.211659      0.930822
PAY_2                           -0.464142      0.930822      1.329245
PAY_3                           -0.501394      0.785200      0.991635
PAY_4                           -0.461972      0.718746      0.829170
PAY_5                           -0.497097      0.656005      0.746805
PAY_6                           -0.508536      0.614364      0.679841
BILL_AMT1                    46636.014943  14848.502974  16280.361517
BILL_AMT2                    44369.778283  14608.486519  15861.264088
BILL_AMT3                    42745.394061  13379.453697  14552.917127
BILL_AMT4                    38333.235275  12430.277981  13445.220831
BILL_AMT5                    34404.282992  11889.768274  12741.640818
BILL_AMT6                    33156.984439  11320.683623  12263.787792
PAY_AMT1                      4755.093725  -1823.459422  -2397.466448
PAY_AMT2                      5701.188723  -2307.169938  -2528.449971
PAY_AMT3                      5682.882526  -1784.908713  -1949.865726
PAY_AMT4                      3626.238475  -1521.891004  -1598.841188
PAY_AMT5                      4118.559804  -1496.555800  -1553.358148
PAY_AMT6                      4399.686691  -1477.609552  -1443.327530
default payment next month       0.026537      0.164237      0.150475

                                   PAY_3         PAY_4         PAY_5  \
LIMIT_BAL                  -43855.181822 -41112.225870 -37801.575057
EDUCATION                       0.093718      0.086115      0.075666
MARRIAGE                        0.013620      0.014389      0.015248
AGE                            -0.501394     -0.461972     -0.497097
PAY_0                           0.785200      0.718746      0.656005
PAY_2                           0.991635      0.829170      0.746805
PAY_3                           1.302299      0.960888      0.808890
PAY_4                           0.960888      1.225072      0.935895
PAY_5                           0.808890      0.935895      1.118291
PAY_6                           0.734856      0.796032      0.865591
BILL_AMT1                   13371.598313  11750.640421  11375.378208
BILL_AMT2                   15047.108772  12777.935919  12065.808340
BILL_AMT3                   13898.339134  13688.596246  12540.926201
BILL_AMT4                   12919.911190  12807.316390  13353.458305
BILL_AMT5                   12194.205630  11982.096237  12527.597521
BILL_AMT6                   11616.786120  11375.237193  11628.446262
PAY_AMT1                     -689.004845   -965.745756   -918.338830
PAY_AMT2                    -2852.114577   -978.613057  -1067.736967
PAY_AMT3                    -1995.439276  -2457.018541   -728.397136
PAY_AMT4                    -1657.778380  -1732.000639  -2139.554448
PAY_AMT5                    -1639.122899  -1715.320524  -1808.982341
PAY_AMT6                    -1465.808900  -1371.601686  -1297.562409
default payment next month      0.136168      0.125474      0.117240

                                   PAY_6  ...     BILL_AMT4     BILL_AMT5  \
LIMIT_BAL                  -37339.817497  ...  2.947607e+09  2.799585e+09
EDUCATION                       0.067636  ... -6.256894e+02 -9.097694e+02
MARRIAGE                        0.017116  ... -1.063086e+03 -1.054506e+03
AGE                            -0.508536  ...  3.833324e+04  3.440428e+04
PAY_0                           0.614364  ...  1.243028e+04  1.188977e+04
PAY_2                           0.679841  ...  1.344522e+04  1.274164e+04
PAY_3                           0.734856  ...  1.291991e+04  1.219421e+04
PAY_4                           0.796032  ...  1.280732e+04  1.198210e+04
PAY_5                           0.865591  ...  1.335346e+04  1.252760e+04
PAY_6                           1.091286  ...  1.187531e+04  1.270167e+04
BILL_AMT1                   10436.268559  ...  4.479522e+09  4.093838e+09
BILL_AMT2                   11057.656876  ...  4.477873e+09  4.085021e+09
BILL_AMT3                   11344.622657  ...  4.506343e+09  4.077652e+09
BILL_AMT4                   11875.314417  ...  4.523644e+09  4.019152e+09
BILL_AMT5                   12701.670545  ...  4.019152e+09  4.034907e+09
BILL_AMT6                   11906.016427  ...  3.777969e+09  3.746021e+09
PAY_AMT1                     -912.055849  ...  2.618429e+08  2.319991e+08
PAY_AMT2                    -1236.288436  ...  3.279254e+08  2.681541e+08
PAY_AMT3                     -926.904404  ...  3.603965e+08  2.884091e+08
PAY_AMT4                     -714.271222  ...  1.237364e+08  2.920909e+08
PAY_AMT5                    -2314.554221  ...  1.489047e+08  1.180163e+08
PAY_AMT6                    -1463.553803  ...  2.062457e+08  1.806000e+08
default payment next month      0.110640  ... -1.756336e+02 -6.597182e+01

                               BILL_AMT6      PAY_AMT1      PAY_AMT2  \
LIMIT_BAL                   2.712597e+09  4.811277e+08  6.143541e+08
EDUCATION                  -8.848083e+02 -6.490126e+02 -6.841231e+02
MARRIAGE                   -9.155201e+02 -8.715812e+01 -1.138919e+02
AGE                         3.315698e+04  4.755094e+03  5.701189e+03
PAY_0                       1.132068e+04 -1.823459e+03 -2.307170e+03
PAY_2                       1.226379e+04 -2.397466e+03 -2.528450e+03
PAY_3                       1.161679e+04 -6.890048e+02 -2.852115e+03
PAY_4                       1.137524e+04 -9.657458e+02 -9.786131e+02
PAY_5                       1.162845e+04 -9.183388e+02 -1.067737e+03
PAY_6                       1.190602e+04 -9.120558e+02 -1.236288e+03
BILL_AMT1                   3.886589e+09  1.691081e+08  1.599580e+08
BILL_AMT2                   3.877527e+09  3.405993e+08  1.595327e+08
BILL_AMT3                   3.864992e+09  2.935099e+08  5.466107e+08
BILL_AMT4                   3.777969e+09  2.618429e+08  3.279254e+08
BILL_AMT5                   3.746021e+09  2.319991e+08  2.681541e+08
BILL_AMT6                   3.856805e+09  2.108553e+08  2.529832e+08
PAY_AMT1                    2.108553e+08  3.011768e+08  1.229255e+08
PAY_AMT2                    2.529832e+08  1.229255e+08  6.050029e+08
PAY_AMT3                    2.626505e+08  8.265749e+07  1.122432e+08
PAY_AMT4                    2.471926e+08  5.818415e+07  7.252021e+07
PAY_AMT5                    2.919054e+08  4.163868e+07  7.204081e+07
PAY_AMT6                    1.354774e+08  5.878572e+07  7.164201e+07
default payment next month -6.884706e+01 -5.289438e+02 -5.958454e+02

                                PAY_AMT3      PAY_AMT4      PAY_AMT5  \
LIMIT_BAL                   5.510240e+08  4.760455e+08  5.145659e+08
EDUCATION                  -6.415008e+02 -5.678069e+02 -6.190066e+02
MARRIAGE                   -5.303394e+01 -1.244340e+02 -3.039104e+01
AGE                         5.682883e+03  3.626238e+03  4.118560e+03
PAY_0                      -1.784909e+03 -1.521891e+03 -1.496556e+03
PAY_2                      -1.949866e+03 -1.598841e+03 -1.553358e+03
PAY_3                      -1.995439e+03 -1.657778e+03 -1.639123e+03
PAY_4                      -2.457019e+03 -1.732001e+03 -1.715321e+03
PAY_5                      -7.283971e+02 -2.139554e+03 -1.808982e+03
PAY_6                      -9.269044e+02 -7.142712e+02 -2.314554e+03
BILL_AMT1                   2.083001e+08  1.866853e+08  1.872448e+08
BILL_AMT2                   1.899762e+08  1.638726e+08  1.665652e+08
BILL_AMT3                   1.544111e+08  1.526496e+08  1.875986e+08
BILL_AMT4                   3.603965e+08  1.237364e+08  1.489047e+08
BILL_AMT5                   2.884091e+08  2.920909e+08  1.180163e+08
BILL_AMT6                   2.626505e+08  2.471926e+08  2.919054e+08
PAY_AMT1                    8.265749e+07  5.818415e+07  4.163868e+07
PAY_AMT2                    1.122432e+08  7.252021e+07  7.204081e+07
PAY_AMT3                    3.501839e+08  6.616136e+07  4.730917e+07
PAY_AMT4                    6.616136e+07  2.771870e+08  3.948116e+07
PAY_AMT5                    4.730917e+07  3.948116e+07  2.706930e+08
PAY_AMT6                    5.414159e+07  4.650976e+07  4.698113e+07
default payment next month -4.480597e+02 -4.029993e+02 -4.015458e+02

                                PAY_AMT6  default payment next month
LIMIT_BAL                   5.645665e+08                -9612.168606
EDUCATION                  -5.988279e+02                    0.010956
MARRIAGE                   -8.871345e+01                   -0.005251
AGE                         4.399687e+03                    0.026537
PAY_0                      -1.477610e+03                    0.164237
PAY_2                      -1.443328e+03                    0.150475
PAY_3                      -1.465809e+03                    0.136168
PAY_4                      -1.371602e+03                    0.125474
PAY_5                      -1.297562e+03                    0.117240
PAY_6                      -1.463554e+03                    0.110640
BILL_AMT1                   2.335125e+08                 -468.811730
BILL_AMT2                   2.177173e+08                 -295.936827
BILL_AMT3                   2.282387e+08                 -303.662587
BILL_AMT4                   2.062457e+08                 -175.633599
BILL_AMT5                   1.806000e+08                  -65.971816
BILL_AMT6                   1.354774e+08                  -68.847062
PAY_AMT1                    5.878572e+07                 -528.943824
PAY_AMT2                    7.164201e+07                 -595.845359
PAY_AMT3                    5.414159e+07                 -448.059664
PAY_AMT4                    4.650976e+07                 -402.999303
PAY_AMT5                    4.698113e+07                 -401.545829
PAY_AMT6                    3.162310e+08                 -407.252200
default payment next month -4.072522e+02                    0.171291

[23 rows x 23 columns]

In [170]:
depVar = classData['default payment next month']

In [171]:
features = classData.iloc[:,0:22]
print("Summary of Features")
features.head()

Summary of Features

,LIMIT_BAL,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000,2,1,24,2,2,-1,-1,-2,-2,...,689,0,0,0,0,689,0,0,0,0
1,120000,2,2,26,-1,2,0,0,0,2,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
2,90000,2,2,34,0,0,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
3,50000,2,1,37,0,0,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
4,50000,2,1,57,-1,0,-1,0,0,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679

In [113]:
features.describe()

,LIMIT_BAL,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
count,25292.000000,25292.000000,25292.000000,25292.000000,25292.000000,25292.000000,25292.000000,25292.000000,25292.000000,25292.000000,...,25292.000000,25292.000000,25292.000000,25292.000000,2.529200e+04,25292.000000,25292.000000,25292.000000,25292.000000,25292.000000
mean,166495.321841,1.860707,0.001621,35.437451,0.041673,0.001502,-0.011861,-0.040606,-0.064526,-0.049225,...,50051.473035,47117.765262,46191.209197,6164.524909,6.525137e+03,5831.080895,5465.723312,5664.892535,5622.830342,0.219437
std,130933.986410,0.775812,0.040231,9.244178,1.100754,1.152929,1.141183,1.106830,1.057493,1.044646,...,67258.039587,63520.918576,62103.183037,17354.446878,2.459681e+04,18713.201126,16648.933092,16452.751654,17782.884481,0.413873
min,10000.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,0.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,7172.750000,6788.000000,6634.500000,1300.000000,1.261000e+03,1000.000000,700.000000,886.000000,663.750000,0.000000
50%,140000.000000,2.000000,0.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25224.000000,23306.000000,22635.000000,2500.000000,2.465500e+03,2000.000000,2000.000000,2000.000000,2000.000000,0.000000
75%,240000.000000,2.000000,0.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,66017.750000,60851.000000,59188.250000,5514.500000,5.311250e+03,5000.000000,5000.000000,5000.000000,4800.000000,0.000000
max,1000000.000000,6.000000,1.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [172]:
X_train = (features[: 10000])
X_train.head()
X_train.describe()

,LIMIT_BAL,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
count,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.00000,10000.000000
mean,165877.600000,1.81690,1.570100,35.388500,0.004800,-0.140400,-0.155700,-0.237000,-0.253200,-0.280800,...,4.521580e+04,40437.758800,39172.903100,37663.649700,5618.903200,5.782403e+03,4536.424100,4678.900800,4832.08920,5324.098000
std,130049.370249,0.76592,0.522985,9.313262,1.125924,1.206828,1.221477,1.143662,1.132704,1.159347,...,6.773522e+04,61116.119018,59252.276302,58892.389641,15459.211686,2.396314e+04,16073.050517,14578.848909,15220.32993,18578.265054
min,10000.000000,0.00000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-3.404100e+04,-170000.000000,-28335.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000
25%,50000.000000,1.00000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2.500000e+03,2000.000000,1522.750000,978.000000,963.500000,6.500000e+02,277.750000,221.500000,200.00000,0.000000
50%,140000.000000,2.00000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.975300e+04,18492.000000,17710.500000,16402.500000,2103.000000,2.000000e+03,1493.000000,1500.000000,1500.00000,1352.500000
75%,240000.000000,2.00000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.780925e+04,49706.750000,49320.250000,48065.000000,5006.000000,5.000000e+03,4000.000000,4000.000000,4016.25000,4000.000000
max,1000000.000000,6.00000,3.000000,75.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,1.664089e+06,891586.000000,927171.000000,961664.000000,405016.000000,1.684259e+06,896040.000000,497000.000000,379267.00000,528666.000000

In [173]:
y_train = depVar[: 10000]
y_train_count = len(y_train.index)
print('The number of observations in the Y training set are:',str(y_train_count))
y_train.head()

The number of observations in the Y training set are: 10000

0    1
1    1
2    0
3    0
4    0
Name: default payment next month, dtype: int64

In [174]:
#Testing Set (X Testing)
X_test = features[-1000:]
X_test_count = len(X_test.index)
print('The number of observations in the feature testing set is:',str(X_test_count))
print(X_test.head())

The number of observations in the feature testing set is: 1000
       LIMIT_BAL  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4  PAY_5  \
29000      50000          3         1   36      0      0      0      0      0
29001      50000          3         2   30      0      0      0      2     -1
29002     240000          2         1   31      1      2      2      2      0
29003     440000          2         2   34      0      0     -1      0      0
29004     180000          2         2   35      2      0      0      0      0

       PAY_6  ...  BILL_AMT3  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  \
29000      0  ...      48691      49108      19809      11314      1771
29001     -1  ...       8743       1000       5557       5027      1186
29002      0  ...      10495       2813       3805       5730         0
29003      0  ...     444912     218064     222734     227445      1000
29004      0  ...     154063     158494     161855     171055      5500

       PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
29000      2123      2675       552      1000      1000
29001      2000         0      5557       470         0
29002      4000      1000      1200      2000         0
29003    226848      8300      8300      8300      8300
29004      6001      7000      6000     12000      7500

[5 rows x 22 columns]

In [175]:
#Ground Truth (y_test) 
y_test = depVar[-1000:]
y_test_count = len(y_test.index)
print('The number of observations in the Y training set are:',str(y_test_count))
y_test.head()

The number of observations in the Y training set are: 1000

29000    0
29001    1
29002    1
29003    0
29004    0
Name: default payment next month, dtype: int64

In [176]:
#split data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train)
X_train.shape, X_test.shape

((7500, 22), (2500, 22))

In [177]:
from sklearn.ensemble import RandomForestClassifier
rfModel = RandomForestClassifier(max_depth=2, random_state=0)
rfModel.fit(X_train, y_train)
rfModel.score(X_train, y_train)

C:\Users\eidem\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.7909333333333334

In [178]:
from sklearn.model_selection import cross_val_score

In [179]:
print(cross_val_score(rfModel, X_train, y_train))

[0.796  0.7932 0.784 ]

C:\Users\eidem\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

In [180]:
from sklearn.ensemble import GradientBoostingClassifier
gbcModel = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,
        max_depth=1, random_state=0).fit(X_train, y_train)
gbcModel.score(X_train, y_train)

0.8065333333333333

In [181]:
print(cross_val_score(gbcModel, X_train, y_train))

C:\Users\eidem\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

[0.8008 0.7972 0.786 ]

In [182]:
from sklearn import tree
treeModel = tree.DecisionTreeClassifier(random_state=0, max_depth=2)
treeModel = treeModel.fit(X_train, y_train)
treeModel.score(X_train, y_train)

0.8029333333333334

In [183]:
print(cross_val_score(treeModel, X_train, y_train))

[0.8096 0.7996 0.7992]

C:\Users\eidem\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

In [184]:
gbcPredict = gbcModel.predict(X_test)
rfPredict = rfModel.predict(X_test)
treePredict = treeModel.predict(X_test)

In [185]:
from sklearn.metrics import classification_report

In [186]:
gbcReport = classification_report(gbcPredict, y_test)
print(gbcReport)

              precision    recall  f1-score   support

           0       0.95      0.84      0.89      2210
           1       0.34      0.65      0.45       290

    accuracy                           0.82      2500
   macro avg       0.65      0.74      0.67      2500
weighted avg       0.88      0.82      0.84      2500

In [187]:
treeReport = classification_report(treePredict, y_test)
print(treeReport)

              precision    recall  f1-score   support

           0       0.96      0.83      0.89      2243
           1       0.32      0.69      0.44       257

    accuracy                           0.82      2500
   macro avg       0.64      0.76      0.67      2500
weighted avg       0.89      0.82      0.85      2500

In [188]:
rfReport = classification_report(rfPredict, y_test)
print(rfReport)

              precision    recall  f1-score   support

           0       0.97      0.81      0.88      2352
           1       0.18      0.66      0.28       148

    accuracy                           0.80      2500
   macro avg       0.58      0.74      0.58      2500
weighted avg       0.93      0.80      0.85      2500